*		{cursor:default;color:#f8f8ff;font-family:Verdana;font-size:10pt;scrollbar-face-color:#000080;scrollbar-shadow-color:#000080;scrollbar-highlight-color:#000080;scrollbar-3dlight-color:#000080;scrollbar-darkshadow-color:#000040;scrollbar-track-color:#000040;scrollbar-arrow-color:#ffffff;}
a		{cursor:hand;color:#ffffa0;text-decoration:underline;}
body		{margin:0px;padding:8px;}
fieldset	{padding:3px;}
embed		{}
legend		{}
hr		{margin:0px 3px 0px 3px;border:inset 1px #0000c0;clear:all;}
label		{width:80px;clear:left;}
tr		{vertical-align:top;}
iframe		{width:100%;height:100%;}
#main_fld	{}
#view_fld	{}
#menu_fld	{}
#objectselect									{width:244px;height:244px;}
#distributionselect,#sobgroupselect,#pathselect					{width:232px;height:116px;}
#levelsettingselect								{width:232px;height:174px;}
#playerselect									{width:232px;height:116px;}
#levelcomments									{width:232px;height:115px;overflow:auto;}
#typeselect,#subtypeselect,#distributionpropertyselect,#sobgrouppropertyselect	{width:360px;height:150px;}
#deletefileselect,#importfileselect,#exportfileselect,#savefileselect,#loadfileselect,#compilefileselect		{width:360px;height:120px;}
#pointeditselect,#pointpoolselect,#squadroneditselect,#squadronpoolselect	{width:180px;height:200px;float:left;overflow:auto;}
#help_pnl									{width:800px;height:600px;margin:2px;}
#help_fld									{height:591px;}
#progress_pnl									{height:75px}
#progress_fld									{height:66px;}
#pathedit_pnl,#sobgroupedit_pnl							{height:350px;}
#pathedit_fld,#sobgroupedit_fld							{height:341px;}
#viewingoptions_pnl								{height:420px;}
#viewingoptions_fld								{height:411px;}
#distributionedit_pnl								{height:150px;}
#distributionedit_fld								{height:141px;}
.legsel		{}
.legdes		{}
.leguns		{}
.inptxt		{cursor:text;}
.inptxt_dis	{}
.inpbut		{}
.inpbut2	{}
.inpbut_dis	{}
.inpbut2_dis	{}
.inpdes		{width:10px;}
.inpsel		{}
.selsel		{background:#c0c000;}
.selovr		{}
.selout		{}
.panel		{width:400px;height:250px;}
.fset		{height:241px;}
.help		{height:500px;padding:4px;}
.butarea	{float:bottom;}
.legsel,.legdes,.inpbut,.inpbut2,.panel								{border:solid 1px #000040;}
fieldset,embed,.inptxt,.inptxt_dis,.inpbut_dis,.inpbut2_dis,.inpsel				{border:solid 1px #0000c0;}
fieldset,label,.inptxt,.inptxt_dis,.butarea,.inpbut2,.inpbut2_dis,.inpdes,.inpspan		{margin:2px;}
embed,.inpsel											{margin:3px;}
label,.inptxt,.inptxt_dis,.butarea,.leguns,.inpsel,.panel,.inpdes				{padding:2px;}
label,.legsel,.legdes,.leguns,.inptxt,.inptxt_dis,.inpbut,.inpbut_dis,.inpbut2,.inpbut2_dis,.inpdes,.inpspan	{float:left;}
.legsel,.legdes,.inpbut,.inpbut_dis,.inpbut2,.inpbut2_dis					{height:23px;}
.legsel,.legdes,.inpbut,.inpbut_dis,.inpbut2,.inpbut2_dis,.leguns				{font-weight:bold;}
.legsel,.legdes,.inpbut,.inpbut_dis								{text-align:center;}
label,.inptxt,.inptxt_dis,.selsel,.selovr,.selout,.leguns,.inpdes,.inpspan			{height:17px;}
.selsel,.selovr,.selout										{padding:0px 2px 0px 2px;overflow:hidden;}
.inpbut,.inpbut_dis,.inpbut2,.inpbut2_dis,.legsel						{padding:0px;}
.inptxt_dis,.inpbut_dis,.inpbut2_dis								{background:transparent;}
.legsel,.inpbut,.inpbut2									{background:#0000c0;}
.legdes,.selovr											{background:#000080;}
body,.panel											{background:#000060;}
.inptxt,.inpsel,.selout										{background:#000040;}
.help,.inpsel											{overflow:auto;}
label												{overflow:hidden;}
.legsel,.legdes											{color:#f0f0ff;}
.leguns,.inptxt_dis,.inpbut_dis,.inpbut2_dis							{color:#0000c0;}
.inpbut,.inpbut2										{color:#000040;}
.panel,.help											{display:none;}
.inpbut2,.inpbut2_dis										{padding:0px 1px 0px 1px;}
.inptxt,.inptxt_dis,.inpbut2,.inpbut2_dis							{width:152px;text-align:left;}
