*		{pointer-events:none;}
#grid		{fill:url(#grid_pttn);stroke:none;}
.drag,#movebox	{fill:none;pointer-events:all;}
#background	{fill:#fff;}
/*#grid,#background		{fill:none;pointer-events:all;}*/
#selectframe,#legframe,#statusframe				{stroke-linejoin:round;fill-opacity:0.25;}
#legframe,#statusframe						{stroke:none;stroke-opacity:0.75;fill:#fff;filter:url(#specBubble);}
#selectbox,#highlightbox,#legend,#axes0,#axes1,#axes2,#statusbox	{display:none;}
#selectframe,#highlightframe					{filter:url(#dropShadow);}
/*#selecttext,#highlighttext					{filter:url(#switchColor);}*/
/*#legendtext,#statustext						{filter:url(#switchColor);}*/
#statusbox		{fill:#444;}
#statusframe		{}
.bitmap			{image-rendering:optimizeSpeed;}
.grid			{fill:#ddd;}
.smalltxt		{cursor:default;font-size:8pt;}
.text			{cursor:default;font-size:9pt;}
.bluarea,.yelarea,.cynarea,.redarea,.grnarea,.mararea,.orgarea,.gryarea,.magarea,.rularea			{stroke-opacity:0.5;}
.blusold,.yelsold,.cynsold,.redsold,.grnsold,.marsold,.orgsold,.grysold,.magsold,.rulsold,#statustext		{stroke:none;}
.blurote,.yelrote,.cynrote,.redrote,.grnrote,.marrote,.orgrote,.gryrote,.magrote,.rulrote			{stroke:none;fill-opacity:0.25;}
.bluline,.yelline,.cynline,.redline,.grnline,.marline,.orgline,.gryline,.magline,.rulline,#highlightframe	{fill:none;stroke-linejoin:round;}
.blusold,.bluarea,.blurote	{fill:#00f;}
.bluline,.bluarea		{stroke:#00f;}
.yelsold,.yelarea,.yelrote,#selectframe			{fill:#ff0;}
.yelline,.yelarea,#selectframe,#highlightframe		{stroke:#ff0;}
.cynsold,.cynarea,.cynrote	{fill:#0ff;}
.cynline,.cynarea		{stroke:#0ff;}
.redsold,.redarea,.redrote	{fill:#f00;}
.redline,.redarea		{stroke:#f00;}
.grnsold,.grnarea,.grnrote	{fill:#0f0;}
.grnline,.grnarea		{stroke:#0f0;}
.marsold,.mararea,.marrote	{fill:#804;}
.marline,.mararea		{stroke:#804;}
.orgsold,.orgarea,.orgrote	{fill:#f80;}
.orgline,.orgarea		{stroke:#f80;}
.grysold,.gryarea,.gryrote	{fill:#888;}
.gryline,.gryarea		{stroke:#888;}
.magsold,.magarea,.magrote	{fill:#f0f;}
.magline,.magarea		{stroke:#f0f;}
.rulsold			{fill:#888;}
.rulline			{stroke:#888;}
.rulecirc			{stroke-dasharray:5 10;}
